{% extends 'base.html' %}
{% load static %}
{% load django_vite %}

{% block head %}
    {% vite_hmr_client %}
    {% vite_asset 'ts/main.ts' %}

{% endblock %}

{% block content %}

    <div id="tree-root-container">

    </div>

    <button onclick="localStorage.removeItem('anxietyTrees')">
        Clear Storage
    </button>

    <button onclick="addAnxietyTrees()">
        Create new tree
    </button>

    <div id="app">

    </div>



    <div>
        <div>
            Tree List
        </div>
        <div id="tree-list-container">

        </div>
    </div>



{% endblock %}
