{% extends "base/base.html" %}

{% load i18n %}

{% block title %}{% trans "Signup" %}{% endblock title %}

{% block content %}
  <div class="mx-4 my-10">
    <div class="mx-auto my-auto flex h-full w-full max-w-sm flex-col items-center justify-center gap-y-8 rounded-md bg-white px-4 py-8 align-middle shadow-lg ring-1 ring-opacity-5 text-textblackdim ring-primarylight focus:outline-none">
      <div class="text-2xl">{% trans "Sign Up" %}</div>

      <p>{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You are about to use your
        {{ provider_name }} account to login to
        {{ site_name }}. As a final step, please complete the following form:{% endblocktrans %}</p>

      <form class="flex flex-col gap-y-4" class="signup" id="signup_form" method="post"
            action="{% url 'socialaccount_signup' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <button class="rounded px-3 py-2 font-normal ring-1 ring-opacity-5 transition duration-100 ease-out ring-primarylight text-textblackdim hover:bg-primarylight hover:text-black focus:outline-none"
                type="submit">{% trans "Sign Up" %} &raquo;
        </button>
      </form>
    </div>
  </div>

  <script>
      const emailInput = document.querySelector(`input[id="id_email"]`);
      const signupForm = emailInput.parentElement.parentElement
      signupForm.classList.add('allauth-signup-form')
      const labels = document.querySelectorAll(`.allauth-signup-form > p > label`)
      for (const label of labels) {
          label.remove()
      }
  </script>
{% endblock content %}
