{% extends "base/base.html" %}

{% load i18n %}
{% load account %}

{% block title %}{% trans "Confirm Email Address" %}{% endblock title %}


{% block content %}

  <div class="mx-4 my-10">
    <div class="mx-auto my-auto flex h-full w-full max-w-sm flex-col items-center justify-center gap-y-8 rounded-md px-3 py-8 align-middle shadow-lg ring-1 ring-opacity-5 text-textblackdim ring-primarylight focus:outline-none">
      <div class="text-2xl">{% trans "Confirm Email Address" %}</div>

      {% if confirmation %}

        {% user_display confirmation.email_address.user as user_display %}

        {% if can_confirm %}
          <p>{% blocktrans with confirmation.email_address.email as email %}Confirm email address
            <a>{{ email }}</a> for user {{ user_display }}?{% endblocktrans %}</p>

          <form class="" method="post" action="{% url 'account_confirm_email' confirmation.key %}">
            {% csrf_token %}
            <button class="rounded px-3 py-2 ring-1 ring-opacity-5 transition duration-100 ease-out ring-primarylight text-textblackdim hover:bg-primarylight hover:text-black focus:outline-none"
                    type="submit">{% trans 'Confirm' %}</button>
          </form>
        {% else %}
          <p class="">{% blocktrans %}Unable to confirm {{ email }} because it is already confirmed by a
            different
            account.{% endblocktrans %}</p>
        {% endif %}

      {% else %}

        {% url 'account_email' as email_url %}

        <p class="flex flex-col gap-y-4">{% blocktrans %}This email confirmation link expired or is invalid.
          Please issue a new email confirmation request.

        {% endblocktrans %}</p>
        <div class="">
          <a class="rounded px-3 py-2 font-normal ring-1 ring-opacity-5 transition duration-100 ease-out ring-primarylight text-textblackdim hover:bg-primarylight hover:text-black focus:outline-none"
             href="{{ email_url }}">Issue New</a>
        </div>


      {% endif %}
    </div>

  </div>


{% endblock content %}
