{% extends "base/base.html" %}

{% load i18n %}
{% block title %}{% trans "Change Password" %}{% endblock title %}

{% block content %}
  <div class="mx-2 my-6">
    <div class="my-auto flex h-full w-full max-w-sm sm:max-w-screen-xl flex-col gap-y-6 bg-white px-3 py-2 text-textblackdim focus:outline-none">
      <div class="text-2xl">
        {% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</div>

      {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please new
          password reset link.
          request a
        {% endblocktrans %}</p>
        <div>
          <a class="rounded px-3 py-2 ring-1 ring-opacity-5 font-normal transition duration-100 ease-out ring-primarylight text-textblackdim hover:bg-primarylight hover:text-black focus:outline-none"
             href="{{ passwd_reset_url }}">Request new</a>
        </div>

      {% else %}
        <form class="flex flex-col gap-y-4" method="POST" action="{{ action_url }}" class="password_reset_from_key">
          {% csrf_token %}
          {{ form.as_p }}
          <div>
            <input class="rounded px-3 py-2 ring-1 ring-opacity-5 font-normal transition duration-100 ease-out ring-primarylight text-textblackdim hover:bg-primarylight hover:text-black focus:outline-none"
                   type="submit" name="action" value="{% trans 'Change Password' %}"/>
          </div>

        </form>
      {% endif %}
    </div>
  </div>

  <script>
      const newPasswordInput = document.querySelector(`input[id="id_password1"]`);
      const changePassForm = newPasswordInput.parentElement.parentElement
      changePassForm.classList.add('allauth-change-pass')
      const labels = document.querySelectorAll(`.allauth-change-pass > p > label`)
      for (const label of labels) {
          label.remove()
      }
  </script>

{% endblock content %}
