{% extends "base/base.html" %}

{% load i18n %}
{% load account %}

{% block title %}{% trans "Password Reset" %}{% endblock title %}

{% block content %}

    <h1>{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Forgot your password? Enter your email below, and you'll receive a password reset link in your inbox." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="{% trans 'Send link' %}" />
    </form>

{#    <p>{% blocktrans %}Please contact me if you have trouble resetting your password.{% endblocktrans %}</p>#}
{% endblock content %}
