{% extends "base/base.html" %}

{% load i18n %}

{% block title %}{% trans "Verify Your Email Address" %}{% endblock title %}

{% block content %}
  <div class="mx-4 my-10">
    <div class="mx-auto my-auto flex h-full w-full max-w-sm flex-col items-center justify-center gap-y-8 rounded-md bg-white px-4 py-8 align-middle shadow-lg ring-1 ring-opacity-5 text-textblackdim ring-primarylight focus:outline-none">
      <div class="text-2xl">{% trans "Verify Your Email Address" %}</div>

      <p>{% blocktrans %}A verification email has been sent to you. Follow the link in the email to finalize the sign-up
        process. If you do not see the verification email in your main inbox, check your spam folder. Please contact me
        if
        you do not receive the verification email within a few minutes.{% endblocktrans %}</p>
    </div>
  </div>


{% endblock content %}
