{% extends 'base.html' %}

{% block title %}
  Delete account
{% endblock title %}
{% block content %}
  <div x-cloak x-data="{ confirmation: '' }" class="mx-4 my-10">
    <div class="mx-auto my-auto flex h-full w-full max-w-sm flex-col items-center justify-center gap-y-8 rounded-md bg-white px-3 py-8 text-center align-middle shadow-lg ring-1 ring-opacity-5 text-textblackdim ring-primarylight focus:outline-none">
      <div class="text-2xl">Delete Account</div>
      <div class="text-textblackdim">Are you sure you want to delete your account?</div>
      <div class="text-danger">
        This action cannot be undone. Your account and all of your data will be lost
        forever.
      </div>
      <div>Please type in "confirm deletion" below.</div>
      <label class="sr-only" for="confirmation-input">Account Deletion Confirmation</label>
      <input id="confirmation-input"
             x-model="confirmation"
             class="w-48 rounded px-3 py-2 text-center ring-1 ring-opacity-5 transition duration-100 ease-out bg-backg ring-primarylight text-textblackdim focus:outline-none"
             type="text" />
      <form method="post" action="{% url 'users:delete' %}">
        {% csrf_token %}
        <input :disabled="confirmation !== 'confirm deletion'"
               class="rounded cursor-pointer px-3 py-2 ring-1 ring-opacity-5 transition duration-500 ease-out ring-primarylight enabled:text-textblackdim text-textblackdimmer2 enabled:hover:bg-danger enabled:hover:text-black focus:outline-none"
               type="submit"
               value="Delete account forever" />
      </form>
      <div>Once you confirm, your account is deactivated and will be deleted within 24 hours.</div>
    </div>
  </div>
{% endblock content %}
