{% extends 'base.html' %}

{% block title %}
  Settings
{% endblock title %}
{% block content %}
  <div class="mx-2 my-4">
    <div class="my-auto flex h-full w-full max-w-sm flex-col gap-y-6 px-3 py-2 text-textblackdim focus:outline-none sm:max-w-screen-xl">
      <div class="text-2xl text-center">Settings</div>
      <div class="flex flex-col md:flex-row gap-y-6 gap-x-10">
        <div>
          <div class="text-textblackdimmer mb-3">{{ user.email }}</div>
          {% include 'partials/account_panel.html' %}
        </div>
        <div class="md:mt-8">This is where you can control your settings.</div>
      </div>
    </div>
  </div>
{% endblock content %}
