{% extends 'base.html' %}

{% load static %}
{% load django_vite %}

{% block title %}
  Gratitude
{% endblock title %}
{% block head %}
  {{ user_g_journals|json_script:"user-g-journals" }}
  {{ logged_in|json_script:"logged-in" }}
  {{ GRATITUDE_JOURNAL_API_BASE_URL|json_script:"GRATITUDE-JOURNAL-API-BASE-URL" }}
  {% vite_asset 'ts/gratitude/gratitude.ts' %}
{% endblock head %}
{% block content %}
  {% csrf_token %}
  {% include 'partials/cat_images.html' %}
  <div id="app"></div>
{% endblock content %}
