__pycache__
*.pyc
*.pyo
*.pyd
.Python
.idea
venv
env
node_modules
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
.editorconfig
.gitattributes
.github
.gitignore
.gitlab-ci.yml

.pre-commit-config.yaml
.readthedocs.yml
.envs/
