{% extends "base.html" %}

{% load i18n %}

{% block title %}
  {% trans "Set Password" %}
{% endblock title %}
{% block content %}
  <div class="mx-2 my-6">
    <div class="my-auto flex h-full w-full max-w-sm flex-col gap-y-6 px-3 py-2 text-textblackdim focus:outline-none sm:max-w-screen-xl">
      <div class="text-2xl">{% trans "Set Password" %}</div>
      <form class="flex flex-col gap-y-4 password_set"
            method="post"
            action="{% url 'account_set_password' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <div>
          <input class="rounded px-3 py-2 font-normal ring-1 ring-opacity-5 transition duration-100 ease-out ring-primarylight text-textblackdim hover:bg-primarylight hover:text-black focus:outline-none"
                 type="submit"
                 name="action"
                 value="{% trans 'Set Password' %}" />
        </div>
      </form>
    </div>
  </div>
  <script>
    const newPasswordInput = document.querySelector(`input[id="id_password1"]`);
    const changePassForm = newPasswordInput.parentElement.parentElement
    changePassForm.classList.add('allauth-change-pass')
    const labels = document.querySelectorAll(`.allauth-change-pass > p > label`)
    for (const label of labels) {
      label.remove()
    }
  </script>
{% endblock content %}
