{% extends "base.html" %}

{% load i18n %}

{% block title %}
  {% trans "Change Password" %}
{% endblock title %}
{% block content %}
  <div class="mx-2 my-6">
    <div class="my-auto flex h-full w-full max-w-sm flex-col gap-y-6 px-3 py-2 text-textblackdim focus:outline-none sm:max-w-screen-xl">
      <div class="text-2xl text-center">{% trans "Change Password" %}</div>
      <div class="flex flex-col md:flex-row gap-y-6 gap-x-10">
        <div>
          <div class="text-textblackdimmer mb-3">{{ user.email }}</div>
          {% include 'partials/account_panel.html' %}
        </div>
        <form class="flex flex-col gap-y-4 password_change md:mt-8"
              method="post"
              action="{% url 'account_change_password' %}">
          {% csrf_token %}
          {{ form.as_p }}
          <div>
            <button class="rounded px-3 py-2 font-normal ring-1 ring-opacity-5 transition duration-100 ease-out ring-primarylight text-textblackdim hover:bg-primarylight hover:text-black focus:outline-none"
                    type="submit"
                    name="action">{% trans "Change Password" %}</button>
          </div>
          <div class="flex">
            <a class="my-0 rounded-none py-1 transition duration-200 group button secondaryAction text-textblackdim focus:outline-none"
               href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}
              <span class="block max-w-0 transition-all duration-200 h-0.5 bg-primary group-hover:max-w-full"></span></a>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script>
    const currentPasswordInput = document.querySelector(`input[id="id_password1"]`);
    const changePassForm = currentPasswordInput.parentElement.parentElement
    changePassForm.classList.add('allauth-change-pass')
    const labels = document.querySelectorAll(`.allauth-change-pass > p > label`)
    for (const label of labels) {
      label.remove()
    }
  </script>
{% endblock content %}
