{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block title %}
  {% trans "Password Reset" %}
{% endblock title %}
{% block content %}
  <div class="mx-2 my-6 flex justify-center">
    <div class="my-auto flex h-full w-full max-w-sm flex-col gap-y-6 px-3 py-2 text-textblackdim focus:outline-none sm:max-w-screen-md">
      <div class="text-2xl text-center">{% trans "Password Reset" %}</div>
      {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
      {% endif %}
      <p>
        {% blocktrans %}Password reset email sent. If you didn't receive it, please check your spam folder. Otherwise,
        you can contact us if you don't receive it in a few minutes.{% endblocktrans %}
      </p>
    </div>
  </div>
{% endblock content %}
