{% load static %}
{% load django_vite %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {#    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}">#}
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    {% vite_hmr_client %}
    {% vite_asset 'ts/main.ts' %}
    {% vite_asset 'ts/style.ts' %}

    {% block head %}

    {% endblock %}

</head>
<body class="bg-backg">
{% block navbar %}
    {% include 'base/navbar.html' %}
{% endblock %}
{% block content %}

{% endblock %}
</body>
</html>