<footer class="mt-auto border-t bg-white border-primarylight">
  <div class="mx-auto max-w-2xl py-6 text-textblackdimmer">
    <div class="text-center text-sm">
      <p> made with ♥️ by chopin </p>
    </div>
    <div class="mt-6 flex flex-col items-center text-sm text-textblackdimmer md:flex-row md:justify-between">
      <p class="order-2 mt-6 md:order-1 md:mt-0">laid out {% now "Y" %} &copy;</p>
      <div class="order-1 flex divide-x divide-primarylight md:order-2">
        <div class="flex px-2 hover:text-black">
          <a href="{% url 'index' %}"
             class="rounded-none transition duration-200 group focus:outline-none"
             aria-current="page">
            Home
            <span class="block max-w-0 transition-all duration-200 h-0.5 bg-primary group-hover:max-w-full"></span></a>

        </div>

        <div class="flex px-2 hover:text-black">
          <a href="{% url 'anxiety_index' %}"
             class="rounded-none transition duration-200 group focus:outline-none"
          >
            Anxiety
            <span class="block max-w-0 transition-all duration-200 h-0.5 bg-primary group-hover:max-w-full"></span></a>

        </div>

        <div class="flex px-2 hover:text-black">
          <a href="{% url 'about' %}"
             class="rounded-none transition duration-200 group focus:outline-none">
            About
            <span class="block max-w-0 transition-all duration-200 h-0.5 bg-primary group-hover:max-w-full"></span></a>

        </div>

      </div>
    </div>
  </div>
</footer>