{% extends "base.html" %}

{% load i18n %}

{% block title %}
  {% trans "Account Connections" %}
{% endblock title %}
{% block content %}
  <div class="mx-2 my-6">
    <div class="my-auto flex h-full w-full max-w-sm flex-col gap-y-6 px-3 py-2 text-textblackdim focus:outline-none sm:max-w-screen-xl">
      <div class="text-2xl">{% trans "Account Connections" %}</div>
      {% if form.accounts %}
        <p>
          {% blocktrans %}You can sign in to your account using any of the following third party
          accounts:{% endblocktrans %}
        </p>
        <form method="post" action="{% url 'socialaccount_connections' %}">
          {% csrf_token %}
          <fieldset class="flex flex-col gap-y-4">
            {% if form.non_field_errors %}<div id="errorMsg">{{ form.non_field_errors }}</div>{% endif %}
            {% for base_account in form.accounts %}
              {% with base_account.get_provider_account as account %}
                <label class="flex gap-x-3" for="id_account_{{ base_account.id }}">
                  <input class="accent-primary"
                         id="id_account_{{ base_account.id }}"
                         type="radio"
                         name="account"
                         value="{{ base_account.id }}" />
                  {% if account.get_brand.name == 'Google' %}
                    <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg">
                      <path d="M22.56 12.25c0-.78-.07-1.53-.2-2.25H12v4.26h5.92c-.26 1.37-1.04 2.53-2.21 3.31v2.77h3.57c2.08-1.92 3.28-4.74 3.28-8.09z" fill="#4285F4" />
                      <path d="M12 23c2.97 0 5.46-.98 7.28-2.66l-3.57-2.77c-.98.66-2.23 1.06-3.71 1.06-2.86 0-5.29-1.93-6.16-4.53H2.18v2.84C3.99 20.53 7.7 23 12 23z" fill="#34A853" />
                      <path d="M5.84 14.09c-.22-.66-.35-1.36-.35-2.09s.13-1.43.35-2.09V7.07H2.18C1.43 8.55 1 10.22 1 12s.43 3.45 1.18 4.93l2.85-2.22.81-.62z" fill="#FBBC05" />
                      <path d="M12 5.38c1.62 0 3.06.56 4.21 1.64l3.15-3.15C17.45 2.09 14.97 1 12 1 7.7 1 3.99 3.47 2.18 7.07l3.66 2.84c.87-2.6 3.3-4.53 6.16-4.53z" fill="#EA4335" />
                      <path d="M1 1h22v22H1z" fill="none" />
                    </svg>
                  {% endif %}
                  {{ account }}
                </label>
              {% endwith %}
            {% endfor %}
            <div>
              <button class="rounded px-3 py-2 font-normal ring-1 ring-opacity-5 transition duration-100 ease-out ring-primarylight text-textblackdim hover:bg-primarylight hover:text-black focus:outline-none"
                      type="submit">{% trans 'Remove' %}</button>
            </div>
          </fieldset>
        </form>
      {% else %}
        <p>{% trans 'You currently have no social network accounts connected to this account.' %}</p>
      {% endif %}
      <div class="text-xl">{% trans 'Add a 3rd Party Account' %}</div>
      <ul class="socialaccount_providers">
        {% include "socialaccount/snippets/provider_list.html" with process="connect" %}
      </ul>
      {% include "socialaccount/snippets/login_extra.html" %}
    </div>
  </div>
{% endblock content %}
