{% extends "base.html" %}

{% load i18n %}

{% block title %}
  {% trans "Log in" %}
{% endblock title %}
{% block content %}
  <div class="mx-4 my-10">
    <div class="mx-auto my-auto flex h-full w-full max-w-sm flex-col items-center justify-center gap-y-8 rounded-md bg-white px-3 py-8 align-middle shadow-lg ring-1 ring-opacity-5 text-textblackdim ring-primarylight focus:outline-none">
      {% if process == "connect" %}
        <div class="text-3xl">
          {% blocktrans with provider.name as provider %}Connect
          {{ provider }}{% endblocktrans %}
        </div>
        <p>
          {% blocktrans with provider.name as provider %}You are about to connect a new third party account
          from
          {{ provider }}.{% endblocktrans %}
        </p>
      {% else %}
        <div class="text-3xl">
          {% blocktrans with provider.name as provider %}Sign in via
          {{ provider }}{% endblocktrans %}
        </div>
        <p class="text-center">
          {% blocktrans with provider.name as provider %}You are about to sign in using a third
          party account from
          {{ provider }}.{% endblocktrans %}
        </p>
      {% endif %}
      <form method="post">
        {% csrf_token %}
        <button class="rounded px-3 py-2 ring-1 ring-opacity-5 transition duration-100 ease-out ring-primarylight text-textblackdim hover:bg-primarylight hover:text-black focus:outline-none"
                type="submit">{% trans "Continue" %}</button>
      </form>
    </div>
  </div>
{% endblock content %}
