@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

    :root {
        --color-textwhite: 231 244 244;
        --color-textblack: 11 24 24;
        --color-backg: 236 247 254;
        --color-primary: 0 82 82;
        --color-secondary: 245 254 255;
        --color-accent: 0 10 10;
    }

    :root[class~="dark"] {
        --color-textwhite: 11 24 24;
        --color-textblack: 231 244 244;
        --color-backg: 1 12 19;
        --color-primary: 173 255 255;
        --color-secondary: 0 9 10;
        --color-accent: 245 255 255;
    }
}