{% extends 'base.html' %}

{% load static %}
{% load django_vite %}

{% block title %}
  Anxiety
{% endblock title %}
{% block head %}
  {{ user_trees|json_script:"user-trees" }}
  {{ logged_in|json_script:"logged-in" }}
  {{ ANXIETY_API_BASE_URL|json_script:"ANXIETY-API-BASE-URL" }}
  {% vite_asset 'ts/anxiety/anxiety.ts' %}
{% endblock head %}
{% block content %}
  {% csrf_token %}
  <img id="cat_01_base"
       hidden
       src="{% static 'spritesheets/cat_01/base.png' %}"
       alt="" />
  <img id="cat_01_blink"
       hidden
       src="{% static 'spritesheets/cat_01/blink.png' %}"
       alt="" />
  <div id="app"></div>
{% endblock content %}
