{% load static %}

<img id="cat_01_base"
     hidden
     src="{% static 'spritesheets/cat_01/base.png' %}"
     alt=""
     loading="eager" />
<img id="cat_01_blink"
     hidden
     src="{% static 'spritesheets/cat_01/blink.png' %}"
     alt=""
     loading="eager" />
<img id="cat_01_paw"
     hidden
     src="{% static 'spritesheets/cat_01/paw.png' %}"
     alt=""
     loading="eager" />
<div id="app"></div>
<img id="cat_01_tail"
     hidden
     src="{% static 'spritesheets/cat_01/tail.png' %}"
     alt=""
     loading="eager" />
<div id="app"></div>
