{% extends 'base/base.html' %}

{% block title %}
  About
{% endblock %}



{% block content %}
  <div class="mx-2 mt-4 mb-10 flex justify-center">
    <div class="my-auto flex h-full w-full flex-col gap-y-6 px-3 py-2 text-textblackdim focus:outline-none sm:max-w-screen-lg">
      <div class="text-xl">Purpose & Mission</div>
      <div>
        At times, people —especially those who suffer from anxiety disorders— feel very anxious for seemingly no good
        reason. This feeling could be overwhelming, and if prolonged, often leads to depression. Navigating through and
        managing
        worries become difficult under the mental fog that accompanies heightened anxiety.
        <br><br>

        Through <i>laying out</i> worries, filtering them by whether they can be controlled, and accepting the
        uncontrollable to be left with only the actionable, laid out's raison
        d'être is
        to help the user manage their anxiety a bit better.
        <br><br>

        While it's largely impossible to <i>cure</i> anxiety solely using this tool, what laid out aims to achieve is
        merely to help lift some of the mental fog off of the user's mind which in turn would empower them to
        address the root causes of their anxiety and work towards long-term emotional
        well-being.
      </div>

      <div class="text-xl">Motivation</div>
      <div>
        The motivation for laid out was two-fold at the beginning; to create a tool to manage my anxiety, and by doing
        that, learn
        how to code. It was clear from the get-go that if the tool ended up being actually useful, many other people
        like me could also benefit from it. The prospect of helping people struggling with anxiety made laid out a
        passion project for me.
      </div>
      <div class="text-xl">Request a Feature</div>
      <div>
        If you'd like to see a feature implemented, shoot an email to ihopeidontforget@tochangethis.com!
      </div>
      <div class="text-xl">Pricing</div>
      <div>
        Laid out will remain free and without ads forever.
      </div>
      <div class="text-xl">Contact</div>
      <div>
        Contact me at ihopeidontforget@tochangethis.com.
      </div>
    </div>
  </div>

{% endblock %}