{% extends 'base/base.html' %}

{% block title %}
  Home
{% endblock %}



{% block content %}
  <div class="mx-2 my-10 flex justify-center text-textblackdim">
    <div class="my-auto flex h-full w-full flex-col gap-y-20 px-3 py-2  focus:outline-none sm:max-w-screen-lg">
      <div class="flex flex-col gap-y-2">
        <div class="text">your worries</div>
        <div class="text-7xl font-black text-center text-primary"><i>laid out</i></div>
        <div class="text-end">to help fight anxiety
        </div>
      </div>

      <ol class="flex flex-col gap-y-6 list-decimal ml-3 text-textblackdim">
        <li>
          <div class="mb-4">Write down all your worries.</div>
          <img alt="step 1" class="object-contain" src="../static/images/step-1.png"/>
        </li>

        <li>
          <div class="mb-4">Lock the uncontrollable ones.</div>
          <img alt="step 2" class="object-contain" src="../static/images/step-2.png"/>
        </li>

        <li>
          <div class="mb-4">Accept the uncontrollable and action the rest.</div>
        </li>
      </ol>
    </div>
  </div>
{% endblock %}