{% extends 'base.html' %}

{% block title %}
  About
{% endblock title %}
{% block content %}
  <div class="mx-2 mt-4 mb-10 flex justify-center">
    <div class="my-auto flex h-full w-full flex-col gap-y-10 px-3 py-2 text-textblackdim focus:outline-none sm:max-w-screen-md">
      <div>
        Please see our <a class="rounded-none text-textblackdimmer underline transition duration-200 group button secondaryAction hover:text-black focus:outline-none"
    href="{% url 'privacy' %}">Privacy Policy</a> and <a class="rounded-none text-textblackdimmer underline transition duration-200 group button secondaryAction hover:text-black focus:outline-none"
    href="{% url 'terms' %}">Terms of Use</a> for detailed information.
      </div>
      <div class="flex flex-col gap-y-3">
        <div class="text-xl font-semibold">Purpose & Mission</div>
        <div>
          Laid Out is a mental health focused, free, open source web app with minimalistic utilities to help you help
          yourself.
          <br />
          <br />
          Our main tool is Anxiety. Through <i>laying out</i> worries, filtering them by whether they can be controlled,
          and accepting the
          uncontrollable to be left with only the actionable, the tool aims to help lift some of the mental fog off of
          your mind.
        </div>
      </div>
      <div class="flex flex-col gap-y-3">
        <div class="text-xl font-semibold">Contributing</div>
        <div>There are many ways to contribute:</div>
        <ul class="list-disc list-inside flex flex-col gap-y-3">
          <li>
            A pixel pet: Create a few animations of a pixel pet and submit the sprite sheets to our
            <a class="rounded-none text-textblackdimmer underline transition duration-200 group button secondaryAction hover:text-black focus:outline-none"
               href="https://github.com/chopin-coding/laid-out">GitHub repo</a>
            via an issue labeled "new pixel pet" or simply email it to contact@laid-out.org.
          </li>
          <li>
            Pitch in an idea for a tool: Open an issue labeled "enhancement" on our
            <a class="rounded-none text-textblackdimmer underline transition duration-200 group button secondaryAction hover:text-black focus:outline-none"
               href="https://github.com/chopin-coding/laid-out">GitHub repo</a>
            or simply email it to contact@laid-out.org.
          </li>
          <li>
            Report a bug: Open an issue labeled "bug" on our
            <a class="rounded-none text-textblackdimmer underline transition duration-200 group button secondaryAction hover:text-black focus:outline-none"
               href="https://github.com/chopin-coding/laid-out">GitHub repo</a>
            or simply email it to support@laid-out.org.
          </li>
          <li>
            Fix an issue: This can be done by fixing an existing issue on our
            <a class="rounded-none text-textblackdimmer underline transition duration-200 group button secondaryAction hover:text-black focus:outline-none"
               href="https://github.com/chopin-coding/laid-out">GitHub repo</a>
            and opening a pull request for it.
          </li>
          <li>You can also just submit some feedback regarding anything to contact@laid-out.org.</li>
        </ul>
      </div>
      <div class="flex flex-col gap-y-3">
        <div class="text-xl font-semibold">Contact</div>
        <div>Contact us at contact@laid-out.org.</div>
      </div>
      <div class="flex flex-col gap-y-3">
        <div class="text-xl font-semibold">Pricing</div>
        <div>Laid Out will always be free and without ads.</div>
      </div>
    </div>
  </div>
{% endblock content %}
