{% extends 'base.html' %}

{% block title %}
  Privacy Policy
{% endblock title %}
{% block content %}
  <div class="mx-2 mt-4 mb-10 flex justify-center">
    <div class="my-auto flex h-full w-full flex-col gap-y-12 px-3 py-2 text-textblackdim focus:outline-none sm:max-w-screen-md">
      <div class="text-4xl font-semibold text-center">Privacy Policy</div>
      <div class="flex flex-col gap-y-3">
        <div class="text-xl font-semibold">About Us</div>
        <div>Laid Out (Laid-Out.org) is a non-profit, open source self-help web app. We do not monetize our users.</div>
      </div>
      <div class="flex flex-col gap-y-3">
        <div class="text-xl font-semibold">Privacy Policy for Laid Out</div>
        <div>
          Version: 1.0
          <br />
          Last updated: January 13, 2024
        </div>
      </div>
      <div class="flex flex-col gap-y-3">
        <div class="text-xl font-semibold">We collect the following types of personal data:</div>
        <ul class="list-disc list-inside">
          <li>Email Address (required for optional login)</li>
        </ul>
      </div>
      <div class="flex flex-col gap-y-3">
        <div class="text-xl font-semibold">We store the data you create through our services if you're logged in:</div>
        <div>
          When you use our services and are logged in, the data you create via our services (anxiety, gratitude,
          journal, etc.),
          including your email
          address, are stored on our backend servers for the purpose of synchronization
          across devices. This data is securely stored in a database to ensure continuity of your experience across
          sessions.
          <br />
          <br />
          While we strive to ensure the security of your data, it's important to
          note that no method of transmission or storage on the internet is completely secure, and we cannot guarantee
          the absolute security of your data.
          <br />
          <br />
          By using our services and logging in, you acknowledge and agree that the data you create via our services
          (anxiety, gratitude, journal, etc.), including
          your email address, will be stored and synchronized as described above.
          <br />
          <br />
          Please note that account registration is completely optional and the website is functional without it.
        </div>
      </div>
      <div class="flex flex-col gap-y-3">
        <div class="text-xl font-semibold">We don’t track you through cookies or any other storage methods.</div>
        <div>
          We only use essential session and security cookies. If you're not logged in, your items (e.g. journals) are
          stored on your browser's local storage.
        </div>
      </div>
      <div class="flex flex-col gap-y-3">
        <div class="text-xl font-semibold">We do not delete your data unless you tell us to.</div>
        <div>
          You have the ability to delete your data for all the services that we provide. You also have the option to
          delete your account, which wipes all of your data within 24 hours.
        </div>
      </div>
      <div class="flex flex-col gap-y-3">
        <div class="text-xl font-semibold">We use third-party tools and sub-processors.</div>
        <div>
          In providing our services, we engage with the following third-party tools, each serving a specific purpose. By
          using our services, you acknowledge and agree to the sharing of information with these providers:
          <br />
          <br />
          <ul class="list-disc list-inside">
            <li>
              Hetzner: Data hosting.
              <br />
              <div class="flex">
                <a class="rounded-none text-textblackdimmer2 transition duration-200 group button secondaryAction hover:text-black focus:outline-none"
                   href="https://www.hetzner.com/legal/privacy-policy">Hetzner Privacy Policy
                  <span class="block max-w-0 transition-all duration-200 h-0.5 bg-primary group-hover:max-w-full"></span>
                </a>
              </div>
            </li>
            <li>
              Amazon Web Services (AWS): Data hosting and sending transactional emails.
              <br />
              <div class="flex">
                <a class="rounded-none text-textblackdimmer2 transition duration-200 group button secondaryAction hover:text-black focus:outline-none"
                   href="https://aws.amazon.com/privacy/">Amazon Web Services Privacy Policy
                  <span class="block max-w-0 transition-all duration-200 h-0.5 bg-primary group-hover:max-w-full"></span>
                </a>
              </div>
            </li>
            <li>
              Google Cloud: Social login ("Continue via Google").
              <br />
              <div class="flex">
                <a class="rounded-none text-textblackdimmer2 transition duration-200 group button secondaryAction hover:text-black focus:outline-none"
                   href="https://cloud.google.com/terms/cloud-privacy-notice">Google Cloud Privacy Policy
                  <span class="block max-w-0 transition-all duration-200 h-0.5 bg-primary group-hover:max-w-full"></span>
                </a>
              </div>
            </li>
            <li>
              Sentry: Error monitoring.
              <br />
              <div class="flex">
                <a class="rounded-none text-textblackdimmer2 transition duration-200 group button secondaryAction hover:text-black focus:outline-none"
                   href="https://sentry.io/privacy/">Sentry Privacy Policy
                  <span class="block max-w-0 transition-all duration-200 h-0.5 bg-primary group-hover:max-w-full"></span>
                </a>
              </div>
            </li>
            <li>
              Cloudflare: Anonymous analytics.
              <br />
              <div class="flex">
                <a class="rounded-none text-textblackdimmer2 transition duration-200 group button secondaryAction hover:text-black focus:outline-none"
                   href="https://www.cloudflare.com/privacypolicy/">Cloudflare Privacy Policy
                  <span class="block max-w-0 transition-all duration-200 h-0.5 bg-primary group-hover:max-w-full"></span>
                </a>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="flex flex-col gap-y-3">
        <div class="text-xl font-semibold">We do not provide a warranty for our services.</div>
        <div>
          We do our best to provide you with tools that may help you with mental help and overall well-being. However,
          it's important to note that Laid Out is not a substitute for professional mental health services.
          <br />
          <br />
          The tools and information provided on this platform are not intended to diagnose, treat, cure, or prevent any
          mental health conditions.
          <br />
          <br />
          It is essential to consult with qualified healthcare professionals or therapists for personalized advice
          regarding mental health issues.
          <br />
          <br />
          Laid Out and its creators, developers, and contributors are not licensed therapists, psychologists, or
          healthcare providers. The use of our services is at your own discretion and risk.
          <br />
          <br />
          If you are experiencing a mental health crisis or require urgent assistance, please contact your local
          emergency
          services or a qualified mental health professional immediately.
          <br />
          <br />
          By using our services, you acknowledge and agree that Laid Out is not liable for any consequences or damages
          arising from your use of the tools provided.
          <br />
          <br />
          For comprehensive mental health support, we strongly encourage you to seek guidance from licensed
          professionals
          who can assess your individual needs and provide appropriate care.
        </div>
      </div>
      <div class="flex flex-col gap-y-3">
        <div class="text-xl font-semibold">We version this privacy policy document.</div>
        <div>
          You can see the version and the last updated time of this privacy policy at the top. We may change this
          privacy
          policy without prior notice. If you've got an account, we will notify you of major changes via email.
          <br />
          <br />
          If you use our services, please check this page regularly for updates.
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
