{% extends 'base.html' %}

{% block title %}
  Terms of Service
{% endblock title %}
{% block content %}
  <div class="mx-2 mt-4 mb-10 flex justify-center">
    <div class="my-auto flex h-full w-full flex-col gap-y-12 px-3 py-2 text-textblackdim focus:outline-none sm:max-w-screen-md">
      <div class="text-4xl font-semibold text-center">Terms of Service</div>
      <div class="flex flex-col gap-y-3">
        <div class="text-xl font-semibold">Acceptance of Terms</div>
        <div>
          Welcome to Laid Out! By accessing or using our non-profit, open-source self-help web app ("Service"), you
          agree to comply with and be bound by these Terms of Service. If you do not agree to these terms, please do not
          use our Service.
        </div>
      </div>
      <div class="flex flex-col gap-y-3">
        <div class="text-xl font-semibold">Privacy Policy</div>
        <div>
          Your use of the Service is also governed by our
          <a class="rounded-none text-textblackdimmer underline transition duration-200 group button secondaryAction hover:text-black focus:outline-none"
             href="{% url 'privacy' %}">Privacy Policy</a>.
          Please review it to
          understand how we collect, use, and share your information.
        </div>
      </div>
      <div class="flex flex-col gap-y-3">
        <div class="text-xl font-semibold">Personal Responsibility</div>
        <div>
          Laid Out is a platform that provides tools for mental health and well-being. While we strive to offer valuable
          resources, it is important to note that we are not a substitute for professional mental health services. Your
          use of the Service is at your own discretion and risk.
        </div>
      </div>
      <div class="flex flex-col gap-y-3">
        <div class="text-xl font-semibold">User Accounts and Data</div>
        <div>
          You may create a user account to access certain features of the Service. You are responsible for maintaining
          the confidentiality of your account information. You can delete your data and account at any time through the
          provided options.
        </div>
      </div>
      <div class="flex flex-col gap-y-3">
        <div class="text-xl font-semibold">Third-Party Tools</div>
        <div>
          We utilize third-party tools for data hosting, email services, social login, error monitoring, and anonymous
          analytics. Your use of these tools is subject to their respective privacy policies. Please refer to our
          <a class="rounded-none text-textblackdimmer underline transition duration-200 group button secondaryAction hover:text-black focus:outline-none"
             href="{% url 'privacy' %}">Privacy Policy</a> for more information.
        </div>
      </div>
      <div class="flex flex-col gap-y-3">
        <div class="text-xl font-semibold">No Warranty</div>
        <div>
          Laid Out does not provide a warranty for its services. While we aim to provide helpful tools, we do not
          guarantee their effectiveness or suitability for your individual needs.
        </div>
      </div>
      <div class="flex flex-col gap-y-3">
        <div class="text-xl font-semibold">Limitation of Liability</div>
        <div>
          By using our Service, you acknowledge and agree that Laid Out and its creators, developers, and contributors
          are not liable for any consequences or damages arising from your use of the tools provided.
        </div>
      </div>
      <div class="flex flex-col gap-y-3">
        <div class="text-xl font-semibold">Changes to Terms</div>
        <div>
          We may update these Terms of Service from time to time without prior notice. Your continued use of the Service
          after any changes constitute your acceptance of the revised terms.
        </div>
      </div>
      <div class="flex flex-col gap-y-3">
        <div class="text-xl font-semibold">Contact Information</div>
        <div>
          If you have any questions or concerns about these Terms of Service, please contact us at <span class="text-textblackdimmer underline">contact@laid-out.org</span>.
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
