{% extends 'base.html' %}

{% block title %}
  Error
{% endblock title %}
{% block navbar %}
{% endblock navbar %}
{% block footer %}
{% endblock footer %}
{% block content %}
  <div class="mx-4 my-32">
    <div class="mx-auto my-auto flex w-full max-w-sm flex-col items-center justify-center gap-y-8 rounded-md bg-white px-4 py-8 align-middle shadow-lg ring-1 ring-opacity-5 text-textblackdim ring-primarylight focus:outline-none">
      <div class="flex text-textblackdim">
        <svg class="h-32 w-32"
             viewBox="0 0 24 24"
             fill="none"
             xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#a)">
          <path d="M8 19a5 5 0 1 0 0-8l1-7h7" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" />
          </g>
          <defs>
          <clipPath id="a">
          <path fill="#fff" d="M0 0h24v24H0z" />
          </clipPath>
          </defs>
        </svg>
        <svg class="h-32 w-32"
             viewBox="0 0 24 24"
             fill="none"
             xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#a)">
          <path d="M12 20a5 5 0 0 0 5-5V9A5 5 0 0 0 7 9v6a5 5 0 0 0 5 5Z" stroke="currentColor" stroke-width="2.5" stroke-linejoin="round" />
          </g>
          <defs>
          <clipPath id="a">
          <path fill="#fff" d="M0 0h24v24H0z" />
          </clipPath>
          </defs>
        </svg>
        <svg class="h-32 w-32"
             viewBox="0 0 24 24"
             fill="none"
             xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#a)">
          <path d="M12 20a5 5 0 0 0 5-5V9A5 5 0 0 0 7 9v6a5 5 0 0 0 5 5Z" stroke="currentColor" stroke-width="2.5" stroke-linejoin="round" />
          </g>
          <defs>
          <clipPath id="a">
          <path fill="#fff" d="M0 0h24v24H0z" />
          </clipPath>
          </defs>
        </svg>
      </div>
      <div class="text-center text-xl">Oops, looks like something went wrong!</div>
      <div class="text-center text">
        We track these errors automatically, but
        if the problem persists, feel free to contact us. In the meantime, try refreshing the page or going back to
        homepage.
      </div>
      <div class="flex justify-center">
        <a href="{% url 'home' %}"
           class="max-w-full justify-around gap-x-3 rounded px-3 py-2 ring-1 ring-opacity-5 transition duration-100 ease-out primaryAction ring-primarylight text-textblackdim hover:bg-primarylight hover:text-black focus:outline-none">Go
          to the homepage
        </a>
      </div>
    </div>
  </div>
{% endblock content %}
